#inputWorkDiv {
  display: -webkit-flex;
  display: flex;
  width: 695px;
  background-color: white;
  border-top: groove;
  border-top-color: #ebebe0;
}

#inputWork {
  border: none;
  height: 50px;
  width: 250px;
}

#inputWorkButtonDiv {
  margin-top: 15px;
}
