.time {
    width: 4.5em;
    height: 0.8em;
    color:white;
    text-align:center;
}

.city {
    width: 4.5em;
    height: 0.8em;
    color:white;
    text-align:center;    
}

#clockli {
        margin-right:10px;
        margin-top: 7px;
}




