.workItem {
  display: -webkit-flex;
  display: flex;
    border: groove;
    border-color: #ebebe0;
    height: 50px;
    width: 400px;
    border-radius: 10px;
  }

  .checkBox {
    margin-top: 20px;
  }

.workName {
  margin-left: 10px;
  display: inline;
}

.workRow {
  margin-top: 10px;
}
